{% extends 'base.html' %}

{% block content%}
<center>
<h1>Search for articles </h1>
</br>
    <h3>Search for related articles.</h3>

    <form method=POST action="{% url 'related' %}">
        {% csrf_token %}
        <label for="dog-names">Find related articles:</label>
            <select name="searched" id="dog-names">
                {% for user in articles %}
                    <option value="{{user}}">{{user}}</option>
                {% endfor %}
            </select>
            <select name="type" id="type">
                <option value="TFIDF">TFIDF</option>
                <option value="Word2Vec">Word2Vec</option>
            </select>
            <select name="min_similarity" id="min_similarity">
                <option value="No">No minimal similarity</option>
                <option value=0.1>0.1</option>
                <option value=0.2>0.2</option>
                <option value=0.3>0.3</option>
                <option value=0.4>0.4</option>
                <option value=0.5>0.5</option>
                <option value=0.6>0.6</option>
                <option value=0.7>0.7</option>
                <option value=0.8>0.8</option>
                <option value=0.9>0.9</option>
                <option value=1.0>1.0</option>
                <option value=1.1>1.1</option>
                <option value=1.2>1.2</option>
            </select>

            <select name="max_articles" id="max_articles">
                <option value=5>5</option>
                <option value=10>10</option>
                <option value=15>15</option>
                <option value=20>20</option>
            </select>



        <button class="button button1" type="submit">Search</button>
    </form>

</center>
{% endblock %}}