{% extends 'base.html' %}

{% block content%}

<html>
<body>
<center>

<h1>All vocabulaires</h1>

<div class="accordion" id="accordionExample" style="width:60%">
  <div class="accordion-item" >

      {% for word, synonymes in list_different_synonymes.items %}
    <h2 class="accordion-header" id="heading{{ word }}">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ word }}" aria-expanded="false" aria-controls="collapse{{ word }}">
          {{ word}}
      </button>
    </h2>
    <div id="collapse{{ word }}" class="accordion-collapse collapse" aria-labelledby="heading{{ word }}" data-bs-parent="#accordionExample">
      <div class="accordion-body">

          {% for synonyme in synonymes %}
              <p align="left">{{synonyme.word}}</p>
          {% endfor %}
          <a  href="{% url 'add-vocabulair' %}?key={{word}}" class="button button1" style="float:left">Add word to this list</a>

      </div>
    </div>

  {% endfor %}

  </div>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script type="text/javascript"  src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</center>
</body>
</html>

{% endblock %}}