h1 {
  margin-left: 20px;
}

.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid darkorange;
}

.button1:hover {
  background-color: darkorange;
  color: white;
}

.submit {
  border: 2px solid darkorange;
}

.custom-file-upload {
    border: 2px solid darkorange;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.custom-text-input {
    border: 2px solid darkorange;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: lightgoldenrodyellow;
}

.card-header {
    color: white !important;
    background-color: darkorange !important;
}

a {
    color:darkorange;
}

a:hover{
    color:orangered;
}