{% extends 'base.html' %}

{% block content %}

	{% if searched %}

		<h1>You Searched For {{ searched }} in the title of an article</h1>
		<br/>

		{% for article in articles %}
			<a href="{% url 'show-article' article.id %}" >{{article}}</a>
			<br/>
		{% endfor %}


	{% elif searched2 %}

		<h1>You Searched For {{ searched2 }} in the summary of an article</h1>
		<br/>

		{% for article in articles2 %}
			<a href="{% url 'show-article' article.id %}" >{{article}}</a>
			<br/>
		{% endfor %}

	{% else %}

		<h1>Hey! You Forgot To Search For A Title...</h1>

	{% endif %}

{% endblock %}